---

    - name: install required packages
      apt: 
       name: "{{ item }}"
       state: present
       update_cache: yes
      with_items:
         - build-essential
         - tcl
         - systemd
