[Unit]
Description=Redis Exporter Service
After=network-online.target

[Service]
User=root
Restart=on-failure

#Change this line if you download the 
#Prometheus on different path user
ExecStart=/usr/local/bin/redis_exporter --redis.password-file=/opt/redis-password.json

[Install]
WantedBy=multi-user.target