[Unit]
Description=Redis Sentinel
After=network.target

[Service]
Type=simple
User=redis
Group=redis

ExecStart=/usr/bin/redis-server /etc/redis/sentinel-{{ redis_sentinel_port }}.conf --sentinel

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
