[Unit]
Description=Redis Instance {{ redis_port }}
After=network.target

[Service]
Type=notify
User=redis
Group=redis

ExecStart=/usr/bin/redis-server {{ redis_conf_path }}

ExecStop=/bin/kill -s TERM $MAINPID

Restart=always
RestartSec=5

LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
