port {{ redis_sentinel_port }}

dir {{ redis_sentinel_dir }}

sentinel monitor {{ redis_sentinel_monitor_name }} {{ redis_master_ip }} {{ redis_master_port }} {{ redis_sentinel_quorum }}

{% if redis_sentinel_auth_user | length > 0 %}
sentinel auth-user {{ redis_sentinel_monitor_name }} {{ redis_sentinel_auth_user }}
{% endif %}

{% if redis_sentinel_auth_pass | length > 0 %}
sentinel auth-pass {{ redis_sentinel_monitor_name }} {{ redis_sentinel_auth_pass }}
{% endif %}


sentinel down-after-milliseconds {{ redis_sentinel_monitor_name }} {{ redis_sentinel_down_after_milliseconds }}

sentinel failover-timeout {{ redis_sentinel_monitor_name }} {{ redis_sentinel_failover_timeout }}

logfile /var/log/redis/sentinel-{{ redis_sentinel_port }}.log

protected-mode no
